// Color principal: 
// Color secundari:  

$primary: #5265E1;
$secondary: #FA5959;
$gray: #ececec;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
}

/*nav - menu*/
.nav-link:hover {
    color: $secondary;
}

.btn-login {
    color: #fff;
    border-radius: 3px;
}

.btn-login:hover {
    color: $secondary;
    background: #fff;
    border: 2px solid $secondary;
}

/* s1 */
.btnchrome {
    background: $primary;
    color: #fff;
    border-radius: 3px;
}

.btnchrome:hover {
    background: #fff;
    color: $primary;
    border: 2px solid $primary;
}

.btnfirefox {
    background: $gray;
    color: gray;
    border-radius: 3px;
}

.btnfirefox:hover {
    background: #fff;
    color: gray;
    border: 2px solid gray;
}

/* S2 */
/* S3 */
.nav-link {
    color: gray;
}

.nav-tabs {
    text-decoration: none;
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    border-color: $secondary;
}

nav-footlink {
    color: #fff;
}

.nav-tabs .nav-link {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.btnmf {
    background: $primary;
    color: #fff;
    border-radius: 3px;
}

.btnmf:hover {
    color: #fff;
    border: 2px solid $primary;
}

/* S4 */
/* S5 */
.crd1 {
    margin-top: 10px;
    margin-bottom: 60px;
}

.crd2 {
    margin-top: 30px;
    margin-bottom: 20px;


}

.crd3 {
    margin-top: 60px;
    margin-bottom: 10px;


}

.btncrdxplr:hover {
    color: $primary;
    background: #fff;
    border-color: $primary;
}

/*S6*/
/* S7 */
.txtfaq:hover {
    color: $secondary;
}

/* S8 */
.btns8 {
    color: #fff;
}

.btns8:hover {
    color: $secondary;
    background: #fff;
}

.place-8 {
    width: 200px;
    height: 40%;
    border-color: #fff;
    border-radius: 4px;
}

.error-conten {

    margin-bottom: 20px;
    width: 207px;
    height: 40px;
}

/* FOOTER */
.foot9 {
    background: rgb(45, 45, 87);
}

.nvlnkf {
    color: #fff;
}

.nvlnkf:hover {
    color: $secondary;
}

.social-f a:hover {
    filter: invert(46%) sepia(47%) saturate(1661%) hue-rotate(322deg) brightness(99%) contrast(84%);
}

.logoblanco {
    align-content: center;
}

.btnnvt {
    width: 20px;
    align-content: center;
    border-color: rgb(45, 45, 87);
}

.ullistf {
    text-align: center;
}



@media (min-width: 1200px) {

    /*S5*/
    .crd1 {
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .crd2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .crd3 {
        margin-top: 60px;
        margin-bottom: 10px;
    }
}

@media (width >=576px) {

    /*S2*/
    .text-s2 {
        margin-top: 15px;
    }
}