// Color principal: 
// Color secundari:  

$primary: #5265E1;
$secondary: #FA5959;
$gray: #ececec;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
  }
  
  /*nav - menu*/
  .nav-link:hover {
    color: $secondary;
  }
  
  .btn-login {
    color: #fff;
    border-radius: 3px;
  }
  
  .btn-login:hover {
    color: $secondary;
    background: #fff;
    border: 2px solid $secondary;
  }
  
  /* s1 */
  .btnchrome {
    background: $primary;
    color: #fff;
    border-radius: 3px;
  }
  
  .btnchrome:hover {
    background: #fff;
    color: $primary;
    border: 2px solid $primary;
  }
  
  .btnfirefox {
    background: $gray;
    color: gray;
    border-radius: 3px;
  }
  
  .btnfirefox:hover {
    background: #fff;
    color: gray;
    border: 2px solid gray;
  }
  
/* S2 */
/* S3 */
.nav-link {
    color: gray;
  }
  
  .nav-tabs {
    text-decoration: none;
  }
  
  .nav-underline .nav-link.active,
  .nav-underline .show>.nav-link {
    border-color: $secondary;
  }
  
  nav-footlink {
    color: #fff;
  }
  
  .nav-tabs .nav-link {
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  
  .btnmf {
    background: $primary;
    color: #fff;
    border-radius: 3px;
  }
  
  .btnmf:hover {
    color: #fff;
    border: 2px solid $primary;
  }